<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="veiwport" content="width=device-width, initial-scale-1.0">
	<meta http-equiv="X-UA-Compatable" content="ie-adge">
	<link rel="stylesheet" type="text/css" href="style.css">
	<link rel="shortcut icon" type="text/css" href="img/favicon.png">
	<script src="https://kit.fontawesome.com/c71fd77aaa.js" crossorigin="anonymous"></script>
	<title>TRADEBAY | Cars | Houses | Spares|</title>
</head>
<body>
  <div class="top">
  	
  <h3><a href="index.html">Tradebay</a></h3>
  <ul class="top_nav">
  		<li><a href="index.html">Home</a></li>
  		<li><a href="index.html">T&Cs</a></li>
  		<li><a href="index.html">Contact</a></li>
  	</ul>
  </div>
	<div class="container">
		<img src="img/menu.png" alt="menu" class="menu-icon">
	<ul class="nav_bar">
		<li class="dropdown">
			<a href="cars.html">
				<div class="icon">
					<i class="fas fa-car" ></i>
				</div>
				<div class="name "><span data-text='CARS'>CARS</span></div>
			</a>
       <div class="dropdown-content">
         <a href="about.html">Toyota</a>
         <a href="about.html">Nissan</a>
         <a href="about.html">Audi</a>
         </div>
		</li>
		<li class="dropdown">
			<a href="funiture.html">
				<div class="icon">
					
					<i class="fas fa-cogs"></i>
									</div>
				<div class="name"><span data-text='FURNITURE'>FURNITURE</span></div>
			</a>
      <div class="dropdown-content">
         <a href="about.html">Toyota</a>
         <a href="about.html">Nissan</a>
         <a href="about.html">Audi</a>
        </div>
		</li class="dropdown">
		<li>
			<a href="mining.html">
				<div class="icon">
					<i class="fas fa-cogs"></i>
				</div>
				<div class="name"><span data-text='MINNING'>MINNING</span></div>
			</a>
		</li>
		<li class="dropdown">
			<a href="home.html">
				<div class="icon">
					<i class="fas fa-home" ></i>
				</div>
				<div class="name"><span data-text='HOMES'>HOMES</span></div>
			</a>
      <div class="dropdown-content">
         <a href="about.html">Toyota</a>
         <a href="about.html">Nissan</a>
         <a href="about.html">Audi</a>
       </div>

		</li>
		<li class="dropdown">
			<a href="phone.html">
				<div class="icon">
					<i class="fas fa-home"></i>
				</div>
				<div class="name"><span data-text='PHONES'>PHONES</span></div>
			</a>
		</li>
		<li class="dropdown">
			<a href="#">
				<div class="icon">
					<i class="fas fa-cogs"></i>
				</div>
				<div class="name"><span data-text="SPARES">SPARES</span></div>
			</a>
		</li>
		<li class="dropdown">
			<a href="cars.html">
				<div class="icon">
					<i class="fas fa-car" ></i>
				</div>
				<div class="name"><span data-text='CARS'>CARS</span></div>
			</a>
      <div class="dropdown-content">
         <a href="about.html">Toyota</a>
         <a href="about.html">Nissan</a>
         <a href="about.html">Audi</a>
       </div>

		</li>
		<li class="dropdown">
			<a href="funiture.html">
				<div class="icon">
					
					<i class="fas fa-cogs"></i>
									</div>
				<div class="name"><span data-text='FURNITURE'>FURNITURE</span></div>
			</a>
        <div class="dropdown-content">
         <a href="about.html">Toyota</a>
         <a href="about.html">Nissan</a>
         <a href="about.html">Audi</a>
       </div>

		</li>
		<li class="dropdown">
			<a href="mining.html">
				<div class="icon">
					<i class="fas fa-cogs"></i>
				</div>
				<div class="name"><span data-text='MINNING'>MINNING</span></div>
			</a>
		</li>
		<li class="dropdown">
			<a href="home.html">
				<div class="icon">
					<i class="fas fa-home" ></i>
				</div>
				<div class="name"><span data-text='HOMES'>HOMES</span></div>
			</a>
       <div class="dropdown-content">
         <a href="about.html">Toyota</a>
         <a href="about.html">Nissan</a>
         <a href="about.html">Audi</a>
         <a href="about.html">Toyota</a>
         <a href="about.html">Nissan</a>
         <a href="about.html">Audi</a>
       </div>

		</li>
		<li class="dropdown">
			<a href="phone.html">
				<div class="icon">
					<i class="fas fa-home"></i>
				</div>
				<div class="name"><span data-text='PHONES'>PHONES</span></div>
			</a>
        <div class="dropdown-content">
         <a href="about.html">Toyota</a>
         <a href="about.html">Nissan</a>
         <a href="about.html">Audi</a>
       </div>

		</li>
		<li>
			<a href="#">
				<div class="icon">
					<i class="fas fa-cogs"></i>
				</div>
				<div class="name"><span data-text="SPARES">SPARES</span></div>
			</a>
        <div class="dropdown-content">
         <a href="about.html">Toyota</a>
         <a href="about.html">Nissan</a>
         <a href="about.html">Audi</a>
       </div>

		</li>
	</ul>
         <section class="search-logos">	
				<form action="">
				<div class="search-form">	
					<input type="text" name="city" id="city">
					<input type="text" name="city" id="city">
					<input type="text" name="city" id="city">
				</div>		
					<button>Search</button>
				</form>

			</section>
   
  <div class="content-container">
  	<div class="main-hero">	

  	</div>
  	 <section class="prof-container"> 
        <div class="prof">  
          
          <div class="prof-info"> 
          <img src="img/fiuu.jpg">
          <div class="prof-details">
          <h5>TOYOTA HILUX</h5>  
          <h6>MINT CONDITION</h6>
          <p> LOREM	OKBDVB,BVKWBVJKWBVWBVWBWJBW  <br> JBVWVBWUFWU</p>
          </div>
          </div>
          <div class="prof-sidebar">  
            <li><h3>$19 000</h3> <p>Negotiable</p></li>
            <li><button>View full details</button></li>
            <li><button>contact dealer</button></li>

          </div>
           <div class="prof-sidebar-2">  
              <li><img src="img/fiuu.jpg"></li>
              <li><img src="img/fiuu.jpg"></li>
              <li><img src="img/fiuu.jpg"></li>
              <li><img src="img/fiuu.jpg"></li>
              <li><img src="img/fiuu.jpg"></li>
              <li><img src="img/fiuu.jpg"></li>
              <li><img src="img/fiuu.jpg"></li>
              <li><img src="img/fiuu.jpg"></li>
          </div>
        </div>

      </section>	
<section class="prof-container"> 
        <div class="prof">  
          
          <div class="prof-info"> 
          <img src="img/fiuu.jpg">
          <div class="prof-details">
          <h5>TOYOTA HILUX</h5>  
          <h6>MINT CONDITION</h6>
          <p> LOREM	OKBDVB,BVKWBVJKWBVWBVWBWJBW  <br> JBVWVBWUFWU</p>
          </div>
          </div>
          <div class="prof-sidebar">  
            <li><h3>$19 000</h3> <p>Negotiable</p></li>
            <li><button>View full details</button></li>
            <li><button>contact dealer</button></li>

          </div>
           <div class="prof-sidebar-2">  
              <li><img src="img/fiuu.jpg"></li>
              <li><img src="img/fiuu.jpg"></li>
              <li><img src="img/fiuu.jpg"></li>
              <li><img src="img/fiuu.jpg"></li>
              <li><img src="img/fiuu.jpg"></li>
              <li><img src="img/fiuu.jpg"></li>
              <li><img src="img/fiuu.jpg"></li>
              <li><img src="img/fiuu.jpg"></li>
          </div>
        </div>

      </section>
      <section class="prof-container"> 
        <div class="prof">  
          
          <div class="prof-info"> 
          <img src="img/fiuu.jpg">
          <div class="prof-details">
          <h5>TOYOTA HILUX</h5>  
          <h6>MINT CONDITION</h6>
          <p> LOREM	OKBDVB,BVKWBVJKWBVWBVWBWJBW  <br> JBVWVBWUFWU</p>
          </div>
          </div>
          <div class="prof-sidebar">  
            <li><h3>$19 000</h3> <p>Negotiable</p></li>
            <li><button>View full details</button></li>
            <li><button>contact dealer</button></li>

          </div>
           <div class="prof-sidebar-2">  
              <li><img src="img/fiuu.jpg"></li>
              <li><img src="img/fiuu.jpg"></li>
              <li><img src="img/fiuu.jpg"></li>
              <li><img src="img/fiuu.jpg"></li>
              <li><img src="img/fiuu.jpg"></li>
              <li><img src="img/fiuu.jpg"></li>
              <li><img src="img/fiuu.jpg"></li>
              <li><img src="img/fiuu.jpg"></li>
          </div>
        </div>

      </section>
       </section>	
       	 <section class="prof-container"> 
        <div class="prof">  
          
          <div class="prof-info"> 
          <img src="img/fiuu.jpg">
          <div class="prof-details">
          <h5>TOYOTA HILUX</h5>  
          <h6>MINT CONDITION</h6>
          <p> LOREM	OKBDVB,BVKWBVJKWBVWBVWBWJBWJBVWVB <br> WUFWU</p>
          </div>
          </div>
           <div class="prof-sidebar">  
            <li><h3>$19 000</h3> <p>Negotiable</p></li>
            <li><button>View full details</button></li>
            <li><button>contact dealer</button></li>

          </div>
          <div class="prof-sidebar-2">  
              <li><img src="img/fiuu.jpg"></li>
              <li><img src="img/fiuu.jpg"></li>
              <li><img src="img/fiuu.jpg"></li>
              <li><img src="img/fiuu.jpg"></li>
              <li><img src="img/fiuu.jpg"></li>
              <li><img src="img/fiuu.jpg"></li>
              <li><img src="img/fiuu.jpg"></li>
              <li><img src="img/fiuu.jpg"></li>
          </div>
        </div>


      </section>
       </section>	
       	 <section class="prof-container"> 
        <div class="prof">  
          
          <div class="prof-info"> 
          <img src="img/fiuu.jpg">
          <div class="prof-details">
          <h5>TOYOTA HILUX</h5>  
          <h6>MINT CONDITION</h6>
          <p> LOREM	OKBDVB,BVKWBVJKWBVWBVWBWJBWJBVWVB <br> WUFWU</p>
          </div>
          </div>
           <div class="prof-sidebar">  
            <li><h3>$19 000</h3> <p>Negotiable</p></li>
            <li><button>View full details</button></li>
            <li><button>contact dealer</button></li>

          </div>

          
           <div class="prof-sidebar-2">  
              <li><img src="img/fiuu.jpg"></li>
              <li><img src="img/fiuu.jpg"></li>
              <li><img src="img/fiuu.jpg"></li>
              <li><img src="img/fiuu.jpg"></li>
              <li><img src="img/fiuu.jpg"></li>
              <li><img src="img/fiuu.jpg"></li>
              <li><img src="img/fiuu.jpg"></li>
              <li><img src="img/fiuu.jpg"></li>
          </div>
        </div>

      </section>
           <section class="footer">	
     	<ul>
     		<h4>About us</h4>
     		<li>Help</li>
     		<li>How it Works</li>
     		<li>Scholarship</li>
     		<li>Education</li>
     		<li>We are hiring</li>
     		<li>Elingo Blog</li>
     		<li>Media kit</li>
     		<li>Status</li>
     	</ul>
     	
     	<ul>
     		<h4>Support</h4>
     		<li>Need any help</li>
     		<li>support@Tradebay.co.zw</li>
     		
     	</ul>
     	<ul>
     		<h4>Contacts</h4>
     		<li>zimbawbe</li>
     		<li>23 R mugabe way</li>
     		<li>Suit 301 ,Brookline</li>
     	
     	</ul>
     	<ul>
     		<h4>Tradebay Social</h4>
     		<li>Facebook</li>
     		<li>Instagram</li>
     		<li>twitter</li>
     		<li>youtube</li>
     		
     	</ul>

     </section>
    </div>  
    </div>
    <script>
        document.querySelector('.menu-icon').addEventListener
        ('click', () => document.querySelector('.nav_bar').classList.toggle('show'));
    </script>

</body>
</html>